body {
  padding-top: 50px;
  margin-bottom: 20px;
}



.product:hover {
	background: #f4f6f7 !important;
}

#productContent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
#productContent > [class*='col-'] {
  display: flex;
  flex-direction: column;
}


#showButtonContainer {
	height:100%;
	display: flex;
  align-items:flex-end;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}

